body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
  color: white;
}

.player {
  max-width: 800px;
  margin: 0 auto;
}

.viewer {
  width: 100%;
  border: 2px solid white;
}

.controls {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
}

.player__button {
  background: none;
  border: 0;
  color: white;
  font-size: 20px;
  margin: 0 5px;
  cursor: pointer;
}

.player__slider {
  margin: 0 10px;
  flex: 1;
}

.progress {
  flex: 1;
  display: flex;
  height: 10px;
  background: #555;
  cursor: pointer;
  margin: 0 10px;
}

.progress__filled {
  width: 0;
  height: 100%;
  background: #f50;
}
